
<%= form_for [:front, @weekend] do |f| %>
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <%= render "/shared/form_errors", :object => f.object %>

      <div id="weekend-description" class="box-user-input background-1" contenteditable="true">My perfect weekend starts on Friday at 18:00 ... </div>
      <%= f.text_area :body, class: "form-control input-hidden", rows: 20, placeholder: t("activerecord.attributes.weekend.body"), id: "weekend-text-area" %>

      <div class="text-end font-nice">
        <%= f.submit "Send", class: "btn btn-nice pull-up" %>
      </div>
    </div>

    <div class="col-md-2">
      button
    </div>
  </div>
<% end %>


<style>
#weekend-description {
    min-height: 20em;
}
</style>

<script>
const weekendDescriptionElement = document.getElementById("weekend-description")

weekendDescriptionElement.addEventListener("input", onDescriptionChange, false);
document.querySelectorAll(".input-inline").forEach(element => element.addEventListener("keydown", filterKeys, false));

document.addEventListener("readystatechange", () => {
  connectInputField("weekend-description", "weekend-text-area");
  strongifyWeekendDiv(weekendDescriptionElement);
  setCaretPositionAtTheEnd(weekendDescriptionElement);
});

function onDescriptionChange(event) {
  let actualCursorPosition = getCaretPosition();
  strongifyWeekendDiv(weekendDescriptionElement);
  setCaretPosition(weekendDescriptionElement, actualCursorPosition);
}
</script>
