<% title t("views.weekends.edit.title", :uuid => @weekend.uuid) %>

<div class="offset-xl-2 col-xl-8 mb-2 background-2 box-notification">
  Here you can Edit your Weekend
</div>

<%= render "form" %>
