<section class="imprint font-console">
  <h3 class="mb-2 background-2 box-notification">Imprint</h3>

  <p>
    F. Guillen <br>
    Spittstr, 10317, Berlin <br>
    Germany <br>
    hello@myperfectweekend.club
  </p>
</section>
