<section class="privacy-policy font-console">
  <h3 class="mb-2 background-2 box-notification">Easy to understand Privacy Policy</h3 class="mb-2 background-2 box-notification">

  <p>Last updated: June 30, 2021</p>

  <h3 class="mb-2 background-2 box-notification">What data of you we collect, why and with who are we sharing it</h3 class="mb-2 background-2 box-notification">

  <h4>Email, Name, Age, Country</h4>

  <p>To give some context to your published Perfect Weekend.</p>
  <p>We share this data with no one.</p>
  <p>All fields are optional.</p>

  <h3 class="mb-2 background-2 box-notification">What cookies are we using</h3 class="mb-2 background-2 box-notification">

  <h4>Google Analytics cookie</h4>

  <p>To check what marketing channels are more efficient to reach people interested in this service.
  This cookie is managed by Google.</p>

  <h3 class="mb-2 background-2 box-notification">Contact Us</h3 class="mb-2 background-2 box-notification">

  <p>If you have any questions about this Privacy Policy, You can contact us by email: <a href="mailto:privacy@myperfectweekend.club" target="_blank">privacy@myperfectweekend.club </a></p>
</section>
