<% title t("views.front_users.new.title") %>

<div class="row">
  <div class="offset-xl-2 col-xl-8">
    <div class="mb-2 background-2 box-notification">If you have done this before go to the <%= link_to "login page", :new_front_front_session %>.</div>
  </div>
</div>

<%= render "form" %>

<style>
.signup-header {
    max-width: 700px;
}
</style>
