<% title t("views.front_users.reset_password.title") %>

<% title t("views.front_sessions.forgot_password.title") %>


<% title t("views.front_sessions.new.title") %>


<%= form_for [:front, @front_user], :url => front_reset_password_path do |f| %>
  <div class="row">
    <div class="offset-xl-2 col-xl-8">
      <%= render "/shared/form_errors", :object => f.object %>

      <div class="mb-2 background-2 box-notification">
        Choose a new password for your account
      </div>
      <div id="front-user-description" class="box-user-input background-1">
        <p>
          I think a nice new password will be <span contenteditable="true" class="input-inline" id="front-user-password"></span>
        </p>
      </div>

      <%= f.text_field :password, id:"front-user-password-input", class: "form-control input-hidden" %>

      <div class="text-end font-nice">
        <%= f.submit "Send", class: "btn btn-nice mt-2" %>
      </div>
    </div>
  </div>
<% end %>

<style>

#front-user-password {
  min-width: 6em;
}


</style>


<script>
connectInputField("front-user-password", "front-user-password-input");

document.querySelectorAll(".input-inline").forEach(element => element.addEventListener("keydown", filterKeys, false));

function filterKeys(event) {
  console.log("filterKeys", event);
  if (event.which === 13) {
    event.preventDefault();
  }
}

function connectInputField(elementId, inputElementId){
  let element = document.getElementById(elementId);
  let inputElement = document.getElementById(inputElementId);

  element.textContent = inputElement.value;

  element.addEventListener("input", () => { inputElement.value = element.textContent } , false);
}
</script>
