@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');
body {
    background-color: #F4EEED;
    color: #272625
}

.nice-font {
    font-family: 'Rochester', cursive;
}

.console-font {
    font-family: 'Inconsolata', monospace;
}

footer {
    border-top: 1px solid #FEC5BB;
    color: #FEC5BB;
    padding-top: 1em;
}

footer ul {
    list-style: none;
}

footer a {
    color: #FEC5BB;
}