
<footer class="mt-5 mx-auto w-50 text-center console-font">
  <p>My Perfect Weekend is made with &lt;3 in Berlin</p>

  <ul>
    <li><%= link_to "Contact", "#" %></li>
    <li><%= link_to "Privacy Policy", "#" %></li>
  </ul>
</footer>


<!-- JSs -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


<script>
   window.App = {};
</script>
<%= javascript_include_tag "application" %>
